body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    padding: 10px;
}

button {
    background-color: rebeccapurple;
    color: white;
    border: none;
    padding: 8px 16px;
}

#formContainer {
    width: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
}
